:root {
    --color_fondo_claro: #EAF2FD;
    --fuente_principal: 'Raleway', sans-serif;
    --color_fondo-o-letra_botones-2: #2A7AE4;
    --color_letras-H2: #464646;
    --color_placeholder: rgba(23, 40, 63, 0.635);
    --boton-active: inset 0 0 30px 8px #0c72d6, 0 0 5px 1px #000000;
    --color-fondo-grisclaro: #E5E5E5;

    --font-family: "Montserrat", sans-serif;
    --font-family-logo: "Pacifico", cursive;

    --font-input: 300;

    --font-size-logo: 28px;
    --font-size-card-title: 28px;
    --font-size-input-label: 20px;
    --font-size-button: 22px;
    --font-size-form-fieldset: 22px;
    --font-size-table-header: 22px;
    --font-size-modal-title: 28px;
    --font-size-modal-button: 28px;

    --primary-color: #0071ea;
    --secundary-color: #d6eaff;
    --contrast-dark-color: #4d4d4d;
    --contrast-ligth-color: #fff;
    --info-color: #df2525;
    --sucess-color: #047900;
    --transparency-color: #4d4d4d33;

    --shadow: 0 5px 10px #55a6ff38;
}

@media (min-width: 800px) {
    :root {
        --font-size-logo: 56px;
    }
}
main{
    width: 100%;
    min-height: 80vh;
    height: auto;
    padding-bottom: 1rem;
    background-color: #3D2CFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 1600 800'%3E%3Cg stroke='%23FFFFFF' stroke-width='71.2' stroke-opacity='0.28' %3E%3Ccircle fill='%233D2CFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%234235ff' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23473eff' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%234c47ff' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%235150ff' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23565aff' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%235b63ff' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23606cff' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%236575ff' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%236b7eff' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237087ff' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%237590ff' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%237a99ff' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%237fa3ff' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2384acff' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2389b5ff' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%238ebeff' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2393C7FF' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}